.app {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
}
.header {
	flex-grow: 0;
	flex-shrink: 0;
}
.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
}
.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	padding:  var(--spacer)0;
}
.instructions {
	height: 70px;
	resize: none;
	margin-bottom: var(--spacer);
}
.text {
	flex-grow: 1;
	flex-shrink: 1;
	resize: none;
	flex-grow: 1;
	flex-shrink: 1;
}
.progress {
	margin-top: var(--spacer);
}
.controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: var(--spacer);
	padding-top: calc(var(--spacer) * 2);

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: var(--spacer);
		width: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}
}
.control {
	&._token {
		width: 150px;
	}
}