.app {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
}
.header {
	flex-grow: 0;
	flex-shrink: 0;
}
.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
}
.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	padding:  var(--spacer)0;
}
.instructions {
	flex-grow: 0;
	flex-shrink: 0;
	// font-size * line-height * count-rows + border-width * 2
	height: calc(1rem * 1.5 * 1 + var(--mo-border-width) * 2);
	resize: none;
	margin-bottom: var(--spacer);
}
.text {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	margin-top: var(--spacer);

	&[data-text-mode="input"] {
		.textchunks {
			display: none;
		}
	}

	&[data-text-mode="chunks"] {
		.textcontrol {
			display: none;
		}
	}
}
.textcontrol {
	flex-grow: 1;
	flex-shrink: 1;
	resize: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: 0;
}
.textchunks {
	flex-grow: 1;
	flex-shrink: 1;
	resize: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: 0;
}
.progress {
	margin-top: var(--spacer);
}
.controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: calc(var(--spacer) * 0.5);
	padding-top: calc(var(--spacer) * 2);

	:global(.btn):disabled {
		opacity: 0.2;
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: calc(var(--spacer) * 0.5);
		width: auto;
		flex-grow: 0;
		flex-shrink: 0;
	}
}
.control {
	&._token {
		width: 150px;
	}
}