// Variable overrides first
// $primary: #900;
$enable-shadows: true;
$prefix: "mo-";
// Update the import directory to point to it‘s location within node_modules
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Import the Sass files as usual
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

:root {
  --spacer: 1rem;
}
html,
body,
#app {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
html {
  height: 100%;
}
